<h1>
	Anfal Siddiqui
</h1>
<%=image_tag("Anfal_Siddiqui.JPG", size: "300x300")%>
<div>
	<p>Hi! I'm a graduating senior studying Computer Science</p>
	<p>I'm originally from Fremont, CA. Fun fact: I saw <i>Batman v Superman</i> a week early and got to be disappointed before everyone else</p>
	<p>This semester, I am doing NLP research at Haas and am on course staff for CS 170 (sorry the midterm was hard :( )</p>
	<p>I'm really excited to learn how Ruby on Rails differs from other web frameworks I've used such as Express/Node</p>	
</div>
